/* reset all margins */
* {
   margin: 0;
   padding: 0;
   border: none;
   text-decoration: none;
}

#logo{
    font-size: 2em;
    float:left;
    margin: 10px;
}

#nav-links{
    margin-top:5px;
    float:right;
    margin: 10px;

}

#site-name{
    text-decoration: none;
    padding-left: 5px;
}
section {

    background: blueviolet;
    
}
nav{

    width: 100%;
    position: fixed;
    top:0;
    background-color: white;
    line-height: 50px;
    text-align: center;
}

footer{
    background-color: white;
    width: 100%;
    position:fixed;
    bottom: 0;
}
#wool-image{
    width:100%;
    min-height: 100vh;
    object-fit: cover;
}