
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Open+Sans&family=Sacramento&display=swap');

/* reset all margins */
* {
   margin: 0;
   padding: 0;
   border: none;
   text-decoration: none;
}

/* decorative font */
.main-font{
    font-family: 'Fredericka the Great', cursive;
}

/* love font */
.love-font{
    font-family: 'Sacramento', cursive;
    color: black;
}

.blue-link{
    color: rgb(36, 182, 187) !important;
}

a:hover{
    color: black !important;
}

/* body font */
body{
    font-family: 'Josefin Slab', serif;
}

/* font variants */

.white-font{
    color: white;
}

.blue-font{
    color: rgb(36, 182, 187);
}

.large-font{
    font-size: 1.5em;
}

.white-background {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

/* header/nav styles */
#links-icon{
    display:none;
}

#logo{
    font-size: 3em;
    float:left;
    font-family: 'Fredericka the Great', cursive;
    margin-left: 20px;
}

#logo >a {
    color: white;
    margin-right: 10px;  
}

#logo >a:hover{
   
    color:black;
}

#nav-links{
    font-size: 2em;
    float:right;
    font-family: 'Fredericka the Great', cursive;
    margin-right: 20px;
}

#nav-links >a {
    color: white;
    margin-right: 10px;  
}

#nav-links >a:hover {
    color: black;
    font-size: 1.1em;
    white-space: nowrap;
}

#site-name{
    text-decoration: none;
    padding-left: 5px;
}

nav{
    background-color: rgb(36, 182, 187);
    color: white;
    width: 100%;
    position: fixed;
    top:0;
    line-height: 100px;
    text-align: center;
    max-height: 100px;
    z-index:3;
    border-bottom: 1px solid black;
}



/*  section styles */
.section-head {
    
    background-color: rgb(36, 182, 187);
    text-align: center;
    color: white;
    font-size: 2em;
    padding:20px 0px;
}

#main{
    background-image: url("../images/pexels-castorly-stock-3693214.jpg");
    background-color: rgb(36, 182, 187); /* background colour if image not available */
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.craft-types {
    column-count: 2;
    column-gap:0;
}

.craft-videos {
    column-count: 3;
    column-gap:0;
}

.craft-videos > div {
    opacity: 0.7;
    position: relative; /* Make div relative so that text can be overlayed (https://www.w3schools.com/howto/howto_css_image_text.asp) */
    text-align: center;
    color: white;
}

/* Centered text (https://www.w3schools.com/howto/howto_css_image_text.asp)*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.sample-video{
    column-count: 2;
    column-gap:0;
}

.sample-video > div > video{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.sample-video > div > p{
    font-size: 2em;
    padding: 50px;
}

#arrow-up{
    display:none;
}


.craft-types > div > img, .craft-videos > div > video {
    width: 100%;
}

/* craft images overlay text  */
.craft-detail {
    position: relative;
    text-align: right;
    color: black;
}

.overlay-craft{
    position: absolute;
    background-color: rgba(36, 182, 187,0.8);
    top: 20px;
    right: 10px;
    width: 50%;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 10px;
}

#contact{
    margin-bottom: 100px;
}

.contact-info{

    position: relative;
    
}
.contact-info > div{

    float: left;
    
}

/* footer style */
footer{
    background-color: rgb(36, 182, 187);
    color: white;
    line-height:70px; 
    text-align: center;
    width: 100%;
    position:fixed;
    bottom: 0;
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.5em;
    z-index:3;
    border-top: 1px solid black;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: black
}

.left-footer{
    float:left;
    width: 33%;
}
.right-footer{
    float:right;
    width: 33%;
}

footer i{
    font-size: 0.8em;
}

.overlay {
    
    display: inline-block; /*needed to give span width/height*/
    overflow: hidden;
    font-family: 'Fredericka the Great', cursive;
    left: 20px;
    width: 30%;
    color: white;
    background-color: rgba(36, 182, 187, 0.8);
    padding: 20px;
    z-index: 2;
    border-radius: 20px;
}

#main .overlay{
    position:relative;
    top:200px;
    font-size: 3em;
    
}



@media screen and (max-width: 870px){
    nav{
        line-height: unset;
        padding-bottom:10px;
    }

    #logo{
        font-size: 2em;
        width:100%;
        margin: auto;
        margin-top:10px;
    }

    #nav-links {
        width:100%;
        margin: auto;
        font-size: 1em;
        margin-bottom: 10px;
        
    }
    #nav-links >a {
        color: white;
        margin-right: 10px;  
    }
    
    #nav-links >a:hover {
        color: black;
        font-size: 1.1em;
        white-space: nowrap;
    }

    footer{
        line-height:40px; 
        text-align: center;
        width: 100%;
        position:fixed;
        bottom: 0;
        font-family: 'Fredericka the Great', cursive;
        font-size: 0.7em;
    }
   .overlay {
        width:70%;
        color:white;
   }

    #main .overlay {
        position:relative;
        
        font-size: 1.1em;
    }

    #main{
        height: 600px;
    }

    .craft-types, .craft-videos, .sample-video{
        column-count: 1;
        column-gap:0;
    }

    .sample-video > div > video{
        width: 100%;
        padding: unset;
    }

    #arrow-up{
        display:unset;
    }

    #arrow-left{
        display:none;
    }

    .overlay-craft{
        
        font-size: 0.8em;
    }

}